<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>breakpoints</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body class="container">

    <!-- buttongs classes -->
    <button class="btn btn-primary" type="button">Hello world</button>
    <button class="btn btn-secondary" type="button">Hello world</button>
    <button class="btn btn-success" type="button">Hello world</button>
    <button class="btn btn-info" type="button">Hello world</button>
    <button class="btn btn-warning" type="button">Hello world</button>
    <button class="btn btn-danger" type="button">Hello world</button>
    <button class="btn btn-light" type="button">Hello world</button>
    <button class="btn btn-dark" type="button">Hello world</button>
    <button class="btn btn-link" type="button">Hello world</button>

    <hr>
    <!-- buttons tags -->
    <a class="btn btn-primary" href="">Link</a>
    <button class="btn btn-success" type="submit">Button</button>
    <input class="btn btn-dark" type="button" value="Accept">
    <input class="btn btn-dark" type="submit" value="Send">
    <input class="btn btn-dark" type="reset" value="Refresh">

    <hr>
    <!-- outline buttons -->
    <button class="btn btn-outline-primary">Hola Mundo</button>
    <button class="btn btn-outline-secondary">Hola Mundo</button>
    <button class="btn btn-outline-success">Hola Mundo</button>
    <button class="btn btn-outline-info">Hola Mundo</button>
    <button class="btn btn-outline-warning">Hola Mundo</button>
    <button class="btn btn-outline-danger">Hola Mundo</button>
    <button class="btn btn-outline-light">Hola Mundo</button>
    <button class="btn btn-outline-dark">Hola Mundo</button>

    <hr>
    <!-- button sizes -->
    <button class="btn btn-primary btn-lg">Large Buttons</button>
    <button class="btn btn-success btn-sm">Small Buttons</button>
    <button class="btn btn-danger btn-block">Small Buttons</button>

    <br>
    <!-- large button with icons -->
    <button class="btn btn-primary btn-lg">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
      Login
    </button>

    <hr>
    <!-- BTN States -->
    <button class="btn btn-primary">Regular Button</button>
    <button class="btn btn-primary active">Active Button</button>
    <button class="btn btn-primary disabled">Disabled Button</button>
    <button class="btn btn-primary" data-toggle="button">Regular Button</button>

    <hr>
    <!-- button dropdowns -->
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
        My dropdown
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">One</a>
        <a class="dropdown-item" href="#">Two</a>
        <a class="dropdown-item" href="#">Three</a>
      </div>
    </div>

    <br><br>
    <!-- split dropdowns -->
    <div class="btn-group">
      <button class="btn btn-secondary" type="button">
        My button
      </button>
      <button
        class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
        data-toggle="dropdown"
        type="button">
        <span>Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link One</a>
        <a class="dropdown-item" href="#">Link Two</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Link Three</a>
      </div>
    </div>

    <hr>
    <!-- btn groups -->
    <div class="btn-group">
      <button class="btn btn-secondary">Left</button>
      <button class="btn btn-primary">Middle</button>
      <button class="btn btn-secondary">Right</button>
    </div>

    <br><br>
    <!-- button toolbar -->
    <div class="btn btn-toolbar" role="toolbar">
      <div class="btn-group mr-2">
        <button class="btn btn-primary">1</button>
        <button class="btn btn-primary">2</button>
        <button class="btn btn-primary">3</button>
        <button class="btn btn-primary">4</button>
      </div>

      <div class="btn-group mr-2">
        <button class="btn btn-primary">5</button>
        <button class="btn btn-primary">6</button>
        <button class="btn btn-primary">7</button>
      </div>

      <div>
        <button class="btn btn-primary">8</button>
      </div>
    </div>

    <!-- button group vertical  -->
    <div class="btn-group-vertical">
      <button class="btn btn-primary">Top</button>
      <button class="btn btn-primary">Middle</button>
      <button class="btn btn-primary">Bottom</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </body>
</html>
