<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Alerts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body class="container">


    <div class="alert alert-primary">
      <strong>Message</strong> Lorem ipsum dolor. <a class="alert-link">My LInk</a>
    </div>
    <div class="alert alert-secondary">
      <strong>Message</strong> Lorem ipsum dolor. <a href="#" class="alert-link">My LInk</a>
    </div>
    <div class="alert alert-success">
      <strong>Message</strong> Lorem ipsum dolor. <a href="#" class="alert-link">My LInk</a>
    </div>
    <div class="alert alert-danger">
      <strong>Message</strong> Lorem ipsum dolor. <a href="#" class="alert-link">My LInk</a>
    </div>
    <div class="alert alert-warning">
      <strong>Message</strong> Lorem ipsum dolor. <a href="#" class="alert-link">My LInk</a>
    </div>
    <div class="alert alert-info">
      <strong>Message</strong> Lorem ipsum dolor. <a href="#" class="alert-link">My LInk</a>
    </div>
    <div class="alert alert-light">
      <strong>Message</strong> Lorem ipsum dolor. <a href="#" class="alert-link">My LInk</a>
    </div>
    <div class="alert alert-dark">
      <strong>Message</strong> Lorem ipsum dolor. <a href="#" class="alert-link">My LInk</a>
    </div>


    <!-- DISMISSING -->
    <div class="alert alert-success alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
      </button>
      <strong>Message</strong> Lorem ipsum dolor. <a href="#" class="alert-link">My LInk</a>
    </div>

    <hr>
    <!-- progress BARS -->
    <div class="progress">
      <div class="progress-bar"></div>
    </div>
    <br>
    <div class="progress">
      <div class="progress-bar" style="width: 25%"> 25</div>
    </div>
    <br>
    <div class="progress">
      <div class="progress-bar bg-success" style="width: 25%"> 25</div>
    </div>
    <br>
    <div class="progress">
      <div class="progress-bar bg-success" style="width: 50%">50</div>
    </div>

    <br>
    <div class="progress">
      <div class="progress-bar bg-info" style="width: 75%">75</div>
    </div>

    <br>
    <div class="progress">
      <div class="progress-bar bg-warning" style="width: 100%">100</div>
    </div>

    <br>
    <div class="progress">
      <div class="progress-bar bg-danger" style="width: 100%">100</div>
    </div>

    <br>
    <div class="progress">
      <div class="progress-bar bg-danger progress-bar-striped" style="width: 100%">100</div>
    </div>

    <br>
    <div class="progress">
      <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 100%">100</div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </body>
</html>
