<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List Groups</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body class="container">

    <!-- list group -->
    <ul class="list-group">
      <li class="list-group-item">Lorem ipsum dolor.</li>
      <li class="list-group-item">Lorem ipsum dolor.</li>
      <li class="list-group-item">Lorem ipsum dolor.</li>
      <li class="list-group-item">Lorem ipsum dolor.</li>
      <li class="list-group-item">Lorem ipsum dolor.</li>
    </ul>

<hr>
    <!-- list group with links -->
    <ul class="list-group">
      <a class="list-group-item" href="#">Lorem ipsum dolor.</a>
      <a class="list-group-item" href="#">Lorem ipsum dolor.</a>
      <a class="list-group-item" href="#">Lorem ipsum dolor.</a>
      <a class="list-group-item" href="#">Lorem ipsum dolor.</a>
      <a class="list-group-item" href="#">Lorem ipsum dolor.</a>
    </ul>
<hr>
    <!-- list group with links an item-action class -->
    <ul class="list-group">
      <a class="list-group-item list-group-item-action active" href="#">Lorem ipsum dolor.</a>
      <a class="list-group-item list-group-item-action disabled" href="#">Lorem ipsum dolor.</a>
      <a class="list-group-item list-group-item-action" href="#">Lorem ipsum dolor.</a>
      <a class="list-group-item list-group-item-action" href="#">Lorem ipsum dolor.</a>
      <a class="list-group-item list-group-item-action" href="#">Lorem ipsum dolor.</a>
    </ul>


  <hr>
    <!-- list group with colors - contextual classes -->
    <ul class="list-group">
      <a class="list-group-item" href="#">Lorem ipsum dolor.</a>
      <a class="list-group-item list-group-item-primary" href="#">Lorem ipsum dolor.</a>
      <a class="list-group-item list-group-item-secondary" href="#">Lorem ipsum dolor.</a>
      <a class="list-group-item list-group-item-success" href="#">Lorem ipsum dolor.</a>
      <a class="list-group-item list-group-item-danger" href="#">Lorem ipsum dolor.</a>
      <a class="list-group-item list-group-item-warning" href="#">Lorem ipsum dolor.</a>
      <a class="list-group-item list-group-item-info" href="#">Lorem ipsum dolor.</a>
      <a class="list-group-item list-group-item-light" href="#">Lorem ipsum dolor.</a>
      <a class="list-group-item list-group-item-dark" href="#">Lorem ipsum dolor.</a>
    </ul>
<hr>

  <!--  badges -->
  <ul class="list-group">
    <a class="list-group-item" href="#">
      Lorem ipsum dolor. <span class="badge">14</span>
    </a>
    <a class="list-group-item" href="#">
      Lorem ipsum dolor. <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a class="list-group-item d-flex justify-content-between" href="#">
      Lorem ipsum dolor. <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a class="list-group-item d-flex justify-content-between align-items-center" href="#">
      Lorem ipsum dolor. <span class="badge badge-primary badge-pill">14</span>
    </a>
  </ul>
  <hr>

<hr>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Lorem ipsum dolor.</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, doloribus.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Lorem ipsum dolor.</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, doloribus.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Lorem ipsum dolor.</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, doloribus.</p>
    </a>
  </div>

<hr>

  <!-- bradcrumbs -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Lorem.</li>
    </ol>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Lorem.</a>
      </li>
      <li class="breadcrumb-item active">
        Lorem.
      </li>
    </ol>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Lorem.</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Lorem.</a>
      </li>
      <li class="breadcrumb-item active">
        Lorem.
      </li>
    </ol>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </body>
</html>
