<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List Groups</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body class="container p-4">

    <!-- SIMPLE IMPUT GROUP -->
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input type="text" placeholder="Username" class="form-control">
    </div>

    <br>
    <!-- EMAIL IMPUT GROUP -->
    <div class="input-group">
      <input type="text" placeholder="Email Adress" class="form-control">
      <span class="input-group-addon">@example.com</span>
    </div>

    <br>
    <!-- PROFILE URL -->
    <label>Choose Profile URL</label>
    <div class="input-group">
      <span class="input-group-addon">https://linkedin.com/in/</span>
      <input type="text" placeholder="Url" class="form-control">
    </div>

    <br>
    <!-- ON BOTH SIDES -->
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="text" class="form-control">
      <span class="input-group-addon">.00</span>
    </div>

    <br>
    <!-- LARGE INPUT GROUPS -->
    <div class="input-group input-group-lg">
      <span class="input-group-addon">@</span>
      <input type="text" class="form-control" placeholder="Username">
    </div>
    <br>

    <!-- INPUT GROUPS WITH CHECKBOX -->
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" class="form-check mt-2">
      </span>
      <input type="text" class="form-control" >
    </div>

    <br>
    <!-- INPUT GROUPS WITH RADIO -->
    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
      <span class="input-group-addon">$5.00</span>
      <input type="text" class="form-control" >
    </div>

    <br>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
      <span class="input-group-btn">
        <button type="button" class="btn btn-success">
          Seach
        </button>
      </span>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </body>
</html>
